 {% load static %}
{% include "header.html" %}
	















	<div class="container">
		
		
		<div class="row blogBox">
			<div class="col-md-8">
				
				<div class="row">
				<div class="topBox">
					
					
					
					{% if posts %}
						{% for post in posts %}
								<div class="post">
									<h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
									<div><small>{{ post.posted }}</small></div>
									<div>{{ post.body }}</div>
								</div>
							<hr/>
						{% endfor %}
					{% else %}

					{% endif %}
					
				
					</div>
					</div>
					
				<br/>
				<div class="row ">
					<div class="bottomBox">
					<p>Czym jest Lorem Ipsum?
					Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do akerLorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do akerLorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do aker
					</p>
					</div>
					</div>
					
			</div>
			
			<div class="col-md-offset-1 col-md-3 rightBox">
				
				{% if categories %}
              
                   <ul class="categories">
					   <li><a href="/blog/">Stronga glowna</a></li>
                       {% for category in categories %}
                           <li><a href="{{ category.get_absolute_url }}">{{ category.title }}</a></li>
                       {% endfor %}
                   </ul>
       {% else %}
              <p>Brak kategorii</p>
       {% endif %}
				
				<p>Czym jest Lorem Ipsum? Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do akerLorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w 
				</p>
			</div>
			
			
		</div>
	
	
	</div>
	
		<h1>no siema</h1>
		<div class="topImage">
			<img src = "{% static "mountain.jpg" %}"  alt="gora" id="mountain"/>
		</div>
	
	{% include "footer.html" %}

	
	

	

