body {
	border:  5px solid black;
	
	
	
}

.container {
	
	
}

.blogBox {
	margin:40px;
}

.header {
	background-color: rebeccapurple;
	color:white;
	width:100%;
	
	
}


h1 {
	text-align:center;
	font-family:sans-serif;
	font-weight: 300;

}

.navbar {
	
	width: 100%;
	
}
.categories {
	list-style-type: none;
	
}

.categories > li > a {
	color: black;
	text-transform: uppercase;
}
.categories {
	padding:5px;
}
img {
	max-width: 100%;
}



.rightBox {

	border: 2px solid black;
	padding: 30px;

	
}

.topBox {
	border: 2px solid black;
	padding: 40px;
	
		
}
.bottomBox {
	border: 2px solid black;
	padding: 40px;
	
}

footer {
	text-align: center;
}

