 {% load static %}	

<hr/>
<footer>
<div class="container">
	<div class="row " ></div>
<p>jestem footerem</p>
</div>	
</footer>



		<script   src="https://code.jquery.com/jquery-2.1.2.min.js"   integrity="sha256-YE7BKn1ea9jirCHPr/EaW5NxmkZZGb52+ZaD2UKodXY="   crossorigin="anonymous"></script>

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	
	<script src="{% static "app.js" %}" ></script>
		
	</body>

</html>