 {% load static %}
<!DOCTYPE html>

<html>
	<head>
		<title></title>
		<meta charset="utf-8"/>
	

			<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

		
		<link href = "{% static "style.css" %}" rel="stylesheet" />
	</head>

	<body>
	
		<div class="container header">
			<div class="row ">
						
				
					
					<nav class="navbar navbar-default">
					  <div class="container-fluid">
						<div class="navbar-header">
						  <a class="navbar-brand" href="#">Ptashka</a>
						</div>
						<ul class="nav navbar-nav">
						  <li class="active"><a href="/">Home</a></li>
						  <li><a href="/blog">Blog</a></li>
						
						</ul>
					  </div>
					</nav>

		
				
			</div>
			
		</div>
		
		
	
	
